[Unit]
Description=mDNS Service for Traefik Routes

[Service]
type=forking
ExecStart=/usr/local/bin/publish-traefik-mdns.sh

[Install]
WantedBy=multi-user.target

