[Unit]
Description=mDNS Service for Traefik Routes

[Service]
type=oneshot
ExecStart=/usr/local/bin/ensure-traefik-routes-in-mdns.sh

[Install]
WantedBy=multi-user.target

